NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://interview_app:localpass@localhost:5432/interview_app_dev
AWS_S3_BUCKET=interview-app-storage-289427882196
S3_PREFIX=dev/
AWS_REGION=us-east-1
SUPER_ADMIN_EMAILS=admin@interview-app.com,alexkochnev1987@gmail.com
